Sources/packages/
Sources/AdoNetHelpers/obj/
Sources/BitcoinDatabaseGenerator/bin/
Sources/BitcoinDatabaseGenerator/obj/
Sources/BitcoinDataLayerAdoNet/obj/
Sources/ZeroHelpers/obj/
Sources/AdoNetHelpers/bin/
Sources/BitcoinDataLayerAdoNet/bin/
Sources/ResharperAnnotations/obj/
Sources/ZeroHelpers/bin/
Sources/Tests/BitcoinDatabaseGeneratorIntegrationTest/bin/
Sources/Tests/BitcoinDatabaseGeneratorIntegrationTest/obj/
Sources/Tests/OLD_BitcoinDatabaseGeneratorIntegrationTest/bin/
Sources/Tests/OLD_BitcoinDatabaseGeneratorIntegrationTest/obj/
Sources/Tests/ZeroHelpersUnitTest/obj/
Sources/Tests/ZeroHelpersUnitTest/bin/
