<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ZeroHelpers ruleset" Description="Modified version of 'Microsoft All Rules'" ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>